
/*
.ant-modal-body {
    padding: 0;
    border-radius: unset !important;
}

.ant-modal-content {
    border-radius: unset !important;
}
*/
.ant-modal-custom {
    padding: 0;
    border-radius: unset !important;
}

.d-modal-header {
    /*height: 40px;*/
    /*border-radius: 6px 6px 0 0;*/
    background: #8075FB;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: end;
    /*padding: 23px 31.5px 13px 30px;*/
    padding: 0px 0px;
    /*padding-top: 8px;*/
}

.d-modal-header .modal-title {
    font-weight: bold;
    margin-top: 12px;
    margin-left: 30px;
    margin-bottom: 12px;
    font-size: 16px;
}

.icon-close-black {
    width: 12px;
    height: 12px;
    /*line-height: 12px;*/
    background-image: url('/images/icon/close-white-icon.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.d-modal-header .data-close-button {
    width: 40px;
    height: 40px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-modal-body {
    padding: 30px 12px;
    overflow-y: auto;
    max-height: calc(100% - 100px);
}